# # Created by https://www.gitignore.io

# ### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# # Icon must end with two \r
# Icon


# ### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ### Django ###
*.log
.env
# # db.sqlite3 

# #Other
notes.md
venv*